//== Default colors ==//
$white: #ffffff;
$black: #000000;

//== Theme colors ==//

//text colors
$grey-light: #e4e4e4;
$grey: #95a1ac;
$blue: #039be5;

//background colors
$white-coffee: #f1f1f1;
$black-light: #2f2f2f;
$black-dark: #0f0f0f;
$blue-light: #3d525b;
