//== Default colors ==//
$white: #ffffff;
$black: #000000;

//== Theme colors ==//

//text colors
$blue: #039be5;

//background colors
$black-light: #243238;
$blue-light: #3D525B;
$white-coffee: #f1f1f1;
