# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:

#FOSUserBundle
#Registration
    app.form.registration:
        class: MainBundle\Forms\FOSUserBundle\FormRegistrationType
        tags:
            - { name: form.type, alias: app_user_registration }

# SonataAdminBundle - add User.
    #User
    admin.user:
          class: MainBundle\Admin\UserAdmin
          arguments: [~, MainBundle\Entity\User, ~]
          tags:
              - { name: sonata.admin, manager_type: orm, group: User info, label: User }