.blog-comment {
  color: $grey;

  .blog-comment-item {
    margin-bottom: rem(25px);
    padding: rem(10px);
    position: relative;
  }

  .blog-comment-item-content {
    padding: rem(10px) 0;
    padding-left: rem(85px);
  }

  .blog-comment-item-info {
    position: relative;

    .blog-cii-name,
    .blog-cii-date {
      display: inline-block;
      padding-left: rem(25px);
    }

    .blog-cii-id {
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;

      a {
        display: block;
        color: $grey;

        &:hover {
          color: $blue;
        }
      }
    }

    img {
      max-width: rem(50px);
      max-height: rem(50px);
    }
  }

  .blog-comment-item.no-image {

    .blog-cii-name,
    .blog-cii-date {
      padding-left: 0;
    }

    .blog-cii-date {
      padding-left: rem(25px);
    }

    .blog-comment-item-content {
      padding-left: 0;
    }
  }

  .comment-child{
	padding-left: rem(50px);
  }
  
  .blog-cic-add{
	padding-top: rem(25px);
	display: inline-block;

	a{
	  color: $grey;
	}
  }

  .blog-comment-count {
    border-bottom: rem(1px) solid $grey;

    p {
      text-transform: uppercase;
      padding-bottom: rem(10px);
    }
  }
}

// Comment form.
.blog-item-comment-form {

  p {
    color: $grey;
  }

  .input-text {
    margin-bottom: rem(25px);

    textarea {
      border: rem(1px) solid $grey;
      padding: rem(10px);
      min-height: rem(150px);
    }
  }
  .form-buttons {
    & > div {
      display: inline-block;
      margin-right: rem(25px);
    }
  }
}


