.blog-comment {
  color: $grey;

  .blog-comment-item {
    margin-bottom: rem(25px);
    padding: rem(10px);
    position: relative;
  }

  .blog-comment-item-content {
    padding: rem(10px) 0;
    padding-left: 85px;
  }

  .blog-comment-item-info {
    position: relative;

    .blog-cii-name,
    .blog-cii-date {
      display: inline-block;
      padding-left: rem(25px);
    }

    .blog-cii-id{
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      max-width: rem(50px);
      max-height: rem(50px);
    }

    &.no-image{

      .blog-cii-name,
      .blog-cii-date {
        padding-left: 0;
      }

      .blog-cii-date{
        padding-left: rem(25px);
      }
    }
  }
}

// Comment form.
.blog-item-comment-form {

  .input-text {
    margin-bottom: rem(25px);

    textarea {
      border: rem(1px) solid $black-light;
      padding: rem(10px);
      min-height: rem(150px);
    }
  }
  .form-buttons {
    & > div {
      display: inline-block;
      margin-right: rem(25px);
    }
  }
}


