.like-block {
  display: inline-block;

  .blog-like-form {

    form {
      height: rem(20px);
      overflow: hidden;

      button {
        padding: rem(5px) rem(10px);
        width: auto;
        position: relative;
        background: none;
        display: block;
        text-indent: -9999em;
        text-transform: uppercase;
        border: none;

        &:before,
        &:after {
          z-index: 9;
          position: absolute;
          content: "";
          left: rem(7px);
          top: rem(4px);
          width: rem(7px);
          height: rem(11px);
		  background: $grey;
          border-radius: rem(50px) rem(50px) 0 0;
          transform: rotate(-45deg);
          transform-origin: 0 100%;
        }

        &:after {
          left: 0;
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
      }
    }
  }

  .blog-like-form.active {
	form {

	  button {

		&:before,
		&:after {
		  background: $blue;
		}
	  }
	}
  }

  .blog-like-form.active,
  .blog-like-form,
  .blog-like-count {
    display: inline-block;
    vertical-align: middle;
  }
}

