.mmenu {
  background-color: $black-light;

  .mmenu-container {
    @include page-container();
  }

  // Navigation.
  .mmenu-navigation {
    @include span(9 of 12);
  }

  // User info.
  .mmenu-user {
    @include span(last 3 of 12);
    text-align: center;
    position: relative;
    color: $white;

    .user-info {
      background: $black;
      padding: rem(15px);
      text-align: right;

      .user-title,
      .user-img {
        display: inline-block;
      }

      .user-title-no {
        text-align: center;
      }

      .user-img {
        width: rem(24px);
        height: rem(24px);
        background: white;
      }
    }

    #mmenu-user-content {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1000;

      .muser-content {
        position: relative;
        background-color: $black-dark;
        padding: rem(25px);
      }

      .user-remember {
        text-align: left;
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 rem(50px) $black-dark inset;
      }

      input:-webkit-autofill:focus {
        -webkit-box-shadow: $blue-light, 0 0 0 rem(50px) $black-dark inset;
      }
      .user-action {
        text-align: center;
      }

      .user-name,
      .user-password {
        input {
          text-align: left;
          color: $white !important;
        }

        label {
          display: none;
          text-align: left;
        }
      }

      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        color: $white;
      }

      input[type=submit] {
        color: $white;
      }

      a {
        display: inline-block;
        color: $white;
        padding: rem(10px) rem(25px);
      }
    }
  }
}
