.mmenu {
  background-color: $black-light;

  .mmenu-container {
    @include page-container();
  }

  // Navigation.
  .mmenu-navigation {
    @include span(9 of 12);
  }

  // User info.
  .mmenu-user {
    @include span(last 3 of 12);
    text-align: center;
    position: relative;
    color: $white;

    .user-info {
	  background: $black;
      padding: rem(15px);
      text-align: right;

      .user-title,
      .user-img {
        display: inline-block;
      }

      .user-title-no {
        text-align: center;
      }

      .user-img {
        width: rem(24px);
        height: rem(24px);
        background: white;
        border-radius: rem(50px);
      }
    }

    #mmenu-user-content {
      padding-top: rem(20px);
      display: none;
      position: absolute;
      width: 100%;
	  z-index: 1000;

      .muser-content {
        position: relative;
        background-color: $black-dark;
        padding: rem(25px);
        border-radius: rem(10px);

        &:before {
          top: rem(-13px);
          left: 50%;
          transform: translateX(-50%);
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: rem(11px) solid transparent;
          border-right: rem(11px) solid transparent;
          border-bottom: rem(22px) solid $black-dark;
        }
      }

      .user-remember {
        text-align: left;
      }

	  input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 rem(50px) $black-dark inset;
	  }

	  input:-webkit-autofill:focus {
		-webkit-box-shadow: $blue-light, 0 0 0 rem(50px) $black-dark inset;
	  }
      .user-action{
        text-align: center;
      }

      .user-name,
      .user-password {
        input {
		  text-align: left;
		  color: $white !important;
        }

        label {
          display: none;
		  text-align: left;
        }
      }

	  input:-webkit-autofill, 
	  textarea:-webkit-autofill, 
	  select:-webkit-autofill{
		color: $white;
	  }
	  
      input[type=submit]{
		color: $white;
      }

      a{
        display: inline-block;
        color: $white;
        padding: rem(10px) rem(25px);
      }
    }
  }
}
