{% extends "MainBundle::base.html.twig" %}

{% block body %}
    <div class="blog-container">
        <h1 class="text-center">Hello and welcome</h1>
        <p class="text-center">My name is Maxim and this is my Symfony project. view code on
            <a href="https://github.com/MaximStrutinskiy/GeekHub-WebFish" target="_blank">
                    GitHub
            </a>.
        </p>
    </div>
{% endblock %}
