{% extends "MainBundle::base.html.twig" %}

{% block body %}
  <div class="blog-container">
    <div class="blog-breadcrumbs">
      {{ wo_render_breadcrumbs() }}
    </div>
    <div class="clearfix">
        {% block bodyContent %}
            {% include 'MainBundle:Component:_product_content.html.twig' %}
        {% endblock %}
        {% block bodyNavigation %}
            {% include 'MainBundle:Component:_navigation.html.twig' %}
        {% endblock %}
    </div>
  </div>
{% endblock %}
