home:
    path: /
    defaults: { _controller: MainBundle:Main:index }

blog:
    path: /blog
    defaults: { _controller: MainBundle:Main:blog }

blog-post:
    path:     /blog/post/{id}/{shortTitle}
    defaults: { _controller: MainBundle:Main:blogInternal }
    requirements:
      id: \d+

category:
    path:     /blog/category/{id}/{name}
    defaults: { _controller: MainBundle:Main:showInternalCategory }
    requirements:
      id: \d+

tag:
    path:     /blog/tag/{id}/{name}
    defaults: { _controller: MainBundle:Main:showInternalTag }
    requirements:
      id: \d+