<ul class="block-category">
  {{ dump() }}
  {#{% for category in categories %}#}
    {#<li>#}
      {#<a href="{{ path('category', {'id' : category.id, 'name' : category.name|replace ({' ': '_'})}) }}">#}
        {#{{ category.name }}#}
        {#( {{ render(controller('MainBundle:Main:showCountCategory', {'id': category.id})) }})#}
      {#</a>#}
    {#</li>#}
  {#{% endfor %}#}
</ul>
