<div class="like-block">
{% if form_like is defined and form_like is not empty %}
    <div class="blog-like-form{% if show_status_like %} active{% endif %}">
        {{ form(form_like) }}
    </div>
{% endif %}
    <div class="blog-like-count">{{ like_count }}</div>
</div>
