<div class="blog-navigation">
  <div class="blog-search">
    <p class="blog-nav-title">Search</p>
  </div>
  <div class="blog-category">
    <p class="blog-nav-title">Categories</p>
    {{ render(controller('MainBundle:Category:showCategory')) }}
  </div>
  <div class="blog-teg">
    <p class="blog-nav-title">Tags</p>
    {{ render(controller('MainBundle:Tag:showTag')) }}
  </div>
</div>
