<div class="block-search">
    {{ form_start(search_form) }}
    {{ form_row(search_form.searchText) }}
    <button type="submit">GO <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    {{ form_end(search_form) }}
</div>