{% if tags is not empty %}
<ul class="block-tags">
    {% for tag in tags %}
      <li>
        <a href="{{ path('tag', {'id' : tag.id, 'name' : tag.name|replace ({' ': '_'})}) }}">
          {{ tag.name }};
        </a>
      </li>
    {% endfor %}
  {% else %}
    <p>No tags</p>
</ul>
{% endif %}
