@mixin button-active($c:$white, $c-hover:$white, $bc:inherit, $bc-hover:$black-light, $fs:$fs) {
  color: $c;
  background-color: $bc;
  padding: rem(15px) rem(30px);
  font-size: $fs;
  border: rem(1px) solid $black-light;

  &:hover {
    color: $c-hover;
    background-color: $bc-hover;
    text-decoration: none;
  }
}

@mixin button-default($c:$white, $c-hover:$black-light, $bc:$black-light, $bc-hover:inherit, $fs:$fs) {
  color: $c;
  background-color: $bc;
  padding: rem(15px) rem(30px);
  font-size: $fs;
  border: rem(1px) solid $bc;

  &:hover{
    color: $c;
    text-decoration: none;
  }
}

