@mixin input-field($w: auto, $c: $black-light, $bc: inherit, $fs: $fs){
  width: $w;
  color: $c;
  background: $bc;
  font-size: $fs;
  padding: rem(15px) rem(30px);
  border: rem(1px) solid $c;
  display: inline-block;
}
