@function rem($target, $context: $base-font-size) {
  @if ($target == 0) {
	@return 0;
  }
  @return ($target / $context) * 1rem;
}

@function em($target, $context: $base-font-size) {
  @if ($target == 0) {
	@return 0;
  }
  @return ($target / $context) * 1em;
}