{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="admin-panel-content-image">
        {% if object.postImg != null %}
            {% if object.postImg starts with 'http' %}
                <img src="{{ asset(object.postImg ) }}">
            {% else %}
                <img src="{{ asset('post_images/' ~ object.postImg ) }}">
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
