{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.img != null %}
            <img src="{{ asset('user_images/' ~ object.img ) }}">
        {% endif %}
    </div>
{% endblock %}