{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
  <div class="admin-panel-content-image">
    {% if object.img != null %}
      <img src="{% if object.img starts with 'http' %} {{ asset(object.img ) }} {% else %} {{ asset('user_images/' ~ object.img ) }} {% endif %}">
    {% endif %}
  </div>
{% endblock %}
