{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="admin-panel-content-image">
        {% if object.img != null %}
            {% if object.img starts with 'http' %}
                <img src="{{ asset(object.img ) }}">
            {% else %}
                <img src="{{ asset('user_images/' ~ object.img ) }}">
            {% endif %}
        {% endif %}
    </div>
{% endblock %}